
header ul li:nth-of-type(1) {
	text-decoration: overline;
}







/* MEDIA QUERIES */
@media (min-width: 950px) {
	
	h1 {
		text-align: center;
		margin: auto;
		width: 100%;
	}

	#Dormilon {
		display: block;        /* mejor que flex para imágenes */
		margin: auto;
		width: 30%;
		max-width: 20%;      /* opcional: tamaño máximo en píxeles */
	}

	p {
		margin: auto;
		width: 80%;
		font-size: 24px;
	}
	main ul li {
		margin: auto;
		width: 80%;
		font-size: 24px;
		 padding: 1%;
		margin-left: 14%;
	}

	#Lector {
		display: block;
		margin: auto;
		width: 50%;
		max-width: 20%;
	}

	main p {
		margin-bottom: 1.5%;
	}

}
