
header ul li:nth-of-type(2) {
	text-decoration: overline;
}

img {
	margin: auto;
	width: 80%;
	display: flex;
	align-items: center;

}

.Alinear img {
	width: 45%;
}

main p {
	margin: auto;
	width: 80%;
	padding: 2% 0;
	text-align: justify;
	font-size: 18px;
}

h1 {
	font-size:x-large;
	margin-left: 10%;
}

#Lista:last-of-type {
	margin-bottom: 0%;
}

main ul {
	width: 70%;
	margin-left: 10%;
}

main ul {
	width: 70%;
	margin-left: 10%;
}

main ul li {
	padding: 1% 10%;
	padding-left: 2.5%;
	margin-bottom: 2%;
	text-align: justify;
	font-size: 18px;
}

.TamanoImagen:first-child {
	width: 40%;
}

main ul li:first-child {
	margin-bottom: 0%;
}

.TamanoImagen:last-of-type {
	width: 60%;
	margin-top: 0%;
	padding-top: 0%;
}

.Alinear1 img {
	width: 50%;
	margin-bottom: 4%;
}

/* MEDIA QUERIES */
@media (min-width: 950px) {
	.Alinear {
		margin: auto;
		width: 100%;
		display: flex;
		align-items: center;
		padding-bottom: .9%;
		margin-top: 1%;
	}

	.Alinear img {
		width: 7%;
		padding-left: 2%;
		margin-top: 1%;
	}

	.Margen {
		margin: auto;
		margin-top: 3%;
		font-size: 24px;
		width: 80%;
	}

	.Parrafo p {
		margin: auto;
		width: 95%;
		font-size: 24px;
		padding: 1%
	}

	.Espaciado h1 {
		margin: auto;
		width: 90%;
	}

	.Espaciado ul li {
		margin: auto;
		width: 80%;
		font-size: 24px;
		padding-top: 1%;
	}

	.TamanoImagen {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin: auto;
		width: 20%;
	}

	.TamanoImagen:first-child {
		padding-top: 5%;
	}

	.TamanoImagen:last-of-type {
		margin: auto;
		width: 20%;
		padding: 0%;
	}

	.Alinear1 {
		margin: auto;
		width: 100%;
		display: flex;
		align-items: center;
	}

	.Alinear1 img {
		margin-top: 0%;
		padding-right: 2%;
		padding-bottom: 1%;
		width: 13%;
	}

	 .Alinear1 .Parrafo {
		width: 7%;
		/* margin: auto; */
		margin-top: 0%;
		font-size: 24px;
	 }
}
