
header ul li:nth-of-type(2) {
	text-decoration: overline;
}

img {
	margin: auto;
	width: 80%;
	display: flex;
	align-items: center;

}

main p {
	margin: auto;
	width: 80%;
}

h1 {
	font-size: large;
}

.Alinear img {
	width: 45%;
}

p {
	padding: 2% 0;
}

main ul li {
	padding: 1% 0;
}

.TamanoImagen:first-child {
	width: 40%;
}

main ul li:first-child {
	margin-bottom: 0%;
}

.Alinear1 img {
	width: 50%;
}










/* MEDIA QUERIES */
@media (min-width: 950px) {
	
	.Alinear {
		margin: auto;
		width: 100%;
		display: flex;
		align-items: center;
		padding-bottom: .9%;
	}

	.Alinear img {
		width: 7%;
		padding-left: 2%;
		margin-top: 1%;
	}

	.Margen {
		margin: auto;
		margin-top: 3%;
		font-size: 24px;
		width: 80%;
	}

	.Parrafo {
		margin: auto;
		width: 90%;
		font-size: 24px;
		padding: 0%;
	}

	.Espaciado h1 {
		margin: auto;
		width: 90%;
	}

	.Espaciado ul li {
		margin: auto;
		width: 80%;
		font-size: 24px;
		padding-top: 1%;
	}

	.TamanoImagen {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin: auto;
		width: 20%;
	}

	.TamanoImagen:first-child {
		padding-top: 5%;
	}

	.Alinear1 {
		margin: auto;
		width: 100%;
		display: flex;
		align-items: center;
	}

	.Alinear1 img {
		margin-top: 0%;
		padding-right: 2%;
		padding-bottom: 1%;
		width: 15%;
	}

	 .Alinear1 .Parrafo {
		width: 7%;
		margin: auto;
		margin-top: 0%;
		font-size: 24px;
	 }
}
