
header ul li:nth-of-type(5) {
	text-decoration: overline;
}











/* MEDIA QUERIES */
@media (min-width: 950px) {
	p {
		margin: auto;
		width: 85%;
		font-size: 24px;
		margin-top: 1%;
	}

	figure {
		margin: 0% auto;
	}

	figure img {
		display: block;       /* Quita el comportamiento inline */
		margin: 0 auto;       /* Centra horizontalmente */
		margin-top: 2%
	}

	figcaption {
		font-size: 24px;
		font-weight: bold;
		text-align: center;
	}

	.Caricaturas {
		margin: auto;
		width: 100%;
		display: inline-block;
	}

	.Caricaturas img {
		width: calc(50% - 20px);
	}

	#Imagen1 {
		margin-left: 1.1%;
	}

	.carousel {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		position: relative;
		margin: auto;
		width: 50%;
		/*height: 55%;*/
		overflow: hidden;
		border-radius: 10px;
		box-shadow: 0 4px 15px rgba(0,0,0,0.2);
		margin-bottom: 1.5%;
	}

	.carousel-images {
		display: flex;
		transition: transform 0.5s ease-in-out;
		/*height: 5%;*/
	}

	.carousel-images img {
		width: 100%;
		flex-shrink: 0;
	}

	.prev, .next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background: rgba(0,0,0,0.5);
		color: white;
		border: none;
		padding: 10px;
		cursor: pointer;
		border-radius: 50%;
		font-size: 18px;
	}

	.prev { 
		left: 10px; 
	}

	.next { 
		right: 10px; 
	}

	.prev:hover, .next:hover {
		background: rgba(0,0,0,0.8);
	}

}
