header ul li:nth-of-type(5) {
	text-decoration: overline;
}

h1 small {
	color: #e25353;
	font-size: 20px;
}

#wrapper {
	margin: auto;
	width: 89%;
	height: 100%;
	border: 1px solid #e73333;
	background-color: burlywood;
	padding: 20px;
}

.wrapper p {
	padding: 15px;
}

input[name="tab"] {
	position: absolute;
	left: -1000em;
	padding: auto;
}

#wrapper label {
	display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 30%;          /* Cada pestaña ocupa aprox. un tercio */
    font-size: 12px;
    padding: 5px 5px;    /* Menos padding para que no sobresalga */
    box-sizing: border-box; /* Asegura que padding + width no desborde */
	height: auto;       /* deja que el contenido marque la altura */
    line-height: 1.2em; /* ajusta el alto de línea para que quede bien */
  }

  #wrapper label:last-of-type {
    width: 30%;          /* La última pestaña igual que las demás */
    border-right: 1px solid #cbc6cf;
  }

/* #wrapper label {
	display: inline-block;
	text-align: center;
	width: 22%;
	height: 10%;
	padding: 10px 41px;
	padding-left: 5px;
	margin: 0.3%;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid #87b980;
	border-right: none;
	background-color: #c06868;
	position: relative;
	top: 2px;
	z-index: 99;
}

#wrapper label:last-of-type {
	width: 10%;
} */

label:last-of-type {
	border-right: 1px solid #cbc6cf;
}

div.cont {
	float: left;
	border: 1px solid #e734b2;
	background-color: bisque;
	opacity: 0; 
	display: none;
	padding-top: 2%;
}
input:checked+label {
	border-bottom: none;
	background-color: rgb(195, 186, 235);
}

@keyframes cambiaTab {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes cambiaTab {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

input[value="1"]:checked ~ div.container div.cont:nth-child(1),
input[value="2"]:checked ~ div.container div.cont:nth-child(2),
input[value="3"]:checked ~ div.container div.cont:nth-child(3) {
	opacity: 1;
	display: block;
	-webkit-animation-name: cambiaTab;
	-webkit-animation-duration: 1s;
	animation-name: cambiaTab;
	animation-duration: 1s;
}

.clearfix {
	clear: both;
}

.otras h3 {
	padding: 30px 0 10px 0;
	margin: 0%;
}

.otras p {
	padding: 0;
	margin: 0%;
	text-align: justify;
}

.otras p {
	margin: auto;
	width: 90%;
	padding-bottom: 2%;
	font-size: 20px;
	text-align: justify;
}

figure img {
	margin: auto;
	width: 100%;
}

figcaption {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

main p:last-of-type {
	margin: auto;
	width: 90%;
	padding-bottom: 2%;
	font-size: 20px;
	text-align: justify;
}

.Caricaturas img {
	width: calc(100% - 20px);
	padding-left: 2%;
}

.carousel {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: auto;
	width: 95%;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
	margin-bottom: 1.5%;
}

.carousel-images {
	display: flex;
	transition: transform 0.5s ease-in-out;
	width: 200%;
	height: 750px;
}

.carousel-images img {
	width: 90%;
	flex-shrink: 0;
	padding-left: 8%;
}

.prev, .next {
	display: none;
}

/* MEDIA QUERIES */
@media (min-width: 950px) {
	* {
		padding: 0;
		margin: 0;
		font-size: 16px;
		font-family: Georgia, "Times New Roman", Times, serif;
		line-height: 150%;
	}

	*,
	*:before,
	*:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	h1 {
		font-size: 175%;
		line-height: 80%;
		margin: 25px 0;
	}

	h1 small {
		font-size: 65%;
		color: #e25353;
	}

	#wrapper {
		width: 90%;
		height: 100%;
		margin: 10px auto;
		border: 1px solid #e73333;
		background-color: burlywood;
		padding: 20px;
	}

	.wrapper p {
		padding: 15px;
	}

	input[name="tab"] {
		position: absolute;
		left: -1000em;
		padding: auto;
	}

	#wrapper label {
		display: inline-block;
		text-align: center;
		width: 15%;
		height: 10%;
		padding: 10px 25px;
		padding-left: 10px;
		margin: 0.3%;
		font-weight: bold;
		text-transform: uppercase;
		border: 1px solid #87b980;
		border-right: none;
		background-color: #c06868;
		position: relative;
		top: 2px;
		z-index: 99;
	}

	label:last-of-type {
		border-right: 1px solid #cbc6cf;
	}

	.container {
		border: 1px solid #e734b2;
		background-color: bisque;
		padding-top: 1cm;
	}

	input:checked+label {
		border-bottom: none;
		background-color: rgb(195, 186, 235);
	}

	@keyframes cambiaTab {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	@-webkit-keyframes cambiaTab {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	input[value="1"]:checked~div.container div.cont:nth-child(1),
	input[value="2"]:checked~div.container div.cont:nth-child(2),
	input[value="3"]:checked~div.container div.cont:nth-child(3) {
		opacity: 1;
		display: block;
		-webkit-animation-name: cambiaTab;
		-webkit-animation-duration: 1s;
		animation-name: cambiaTab;
		animation-duration: 1s;
	}

	.clearfix {
		clear: both;
	}

	.otras h3 {
		padding: 30px 0 10px 0;
	}

	.otras p {
		padding: 10px 0;
	}

	p {
		margin: auto;
		width: 85%;
		font-size: 24px;
		margin-top: 1%;
	}

	figure {
		margin: 0% auto;
		width: 80%;
	}

	figure img {
		display: block;
		/* Quita el comportamiento inline */
		margin: 0 auto;
		/* Centra horizontalmente */
		margin-top: 2%
	}

	figcaption {
		font-size: 24px;
		font-weight: bold;
		text-align: center;
	}

	.Caricaturas {
		margin: auto;
		width: 100%;
		display: inline-block;
	}

	.Caricaturas img {
		width: calc(50% - 20px);
	}

	#Imagen1 {
		margin-left: 1.1%;
	}

	#TamanoImagenes {
		margin: auto;
		width: 100%;
	}

	.carousel {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		position: relative;
		margin: auto;
		width: 50%;
		overflow: hidden;
		border-radius: 10px;
		box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
		margin-bottom: 1.5%;
	}

	.carousel-images {
		display: flex;
		transition: transform 0.5s ease-in-out;
		width: 350%;
		height: 750px;
	}

	.carousel-images img {
		width: 100%;
		flex-shrink: 0;
	}
}

@media (max-width: 480px) {
  #wrapper label {
	display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 30%;          /* Cada pestaña ocupa aprox. un tercio */
    font-size: 12px;     /* Reduce el tamaño de la letra */
    padding: 5px 5px;    /* Menos padding para que no sobresalga */
    box-sizing: border-box; /* Asegura que padding + width no desborde */
	height: auto;       /* deja que el contenido marque la altura */
    line-height: 1.2em; /* ajusta el alto de línea para que quede bien */
  }

  #wrapper label:last-of-type {
    width: 30%;          /* La última pestaña igual que las demás */
    border-right: 1px solid #cbc6cf;
  }
}