
header ul li:nth-of-type(3) {
	text-decoration: overline;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.FondoImagen {
	display: flex;
	align-items: center;
	margin: auto;
	width: 100%;
	margin-top: 2%;
	background-color: gainsboro;
	margin-bottom: 3%;
	font-family: Arial, Helvetica, sans-serif;
}

.FondoImagen img {
	width: 30%;
}

.FondoImagen p {
	width: 65%;
	text-align: center;
}

main p {
	margin: auto;
	width: 90%;
	text-align: justify;
}

h1 {
	font-size: x-large;
}

figure img {
  display: block;      /* evita el pequeño espacio de las imágenes inline */
  margin: 0 auto;      /* centra horizontalmente */
  max-width: 90%;      /* que no sobresalga del ancho del móvil */
  height: auto;        /* mantiene la proporción original */
  padding-left: 0;
}

figure {
  margin: 0 auto;         /* centra el bloque figure */
  padding: 0;             /* elimina cualquier relleno interno */
  text-align: center;
}

figcaption {
	font-weight: bold;
	font-size: 17px;
	text-align: center;
}

ul li {
	margin: auto;
	width: 85%;
	text-align: justify;
}

ul li:not(ul li:first-of-type) {
	padding-top: 2%;
}

ul li ul li {
	padding-top: 3%;
}

.TamanoImagenes {
	margin: auto;
	width: 90%;
	display: flex;
	flex-direction: column;
	gap: 15px;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

#TamanoImagenes img {
	width: 250px;
	height: 250px;
	object-fit: cover;
	border-radius: 5px;
	margin-left: 20%;
	margin-bottom: 5%;
}

#TamanoImagenes img:last-of-type {
	margin-bottom: 0%;
}

h1:last-of-type {
	font-size: 22px;
}

/* MEDIA QUERIES */
@media (min-width: 950px) {
	.FondoImagen {
		display: flex;
		align-items: center;
		margin: auto;
		width: 100%;
		margin-top: 2%;
		background-color: gainsboro;
	}

	.FondoImagen img {
		margin: 0% auto;
		width: 50%;
	}

	.FondoImagen p {
		margin: 5% 0 5% 15%;
		text-align: center;
		margin-left: 0%;
	}
	
	main p {
		margin: auto;
		width: 80%;
		font-size: 24px;
		margin-top: 3%;
	}

	figure {
		margin: 3% 0;
	}

	figure img {
		display: block;       /* Quita el comportamiento inline */
		margin: 0 auto;       /* Centra horizontalmente */
	}

	figcaption {
		font-size: 24px;
		font-weight: bold;
		text-align: center;
	}

	.Espaciado {
		margin: auto;
		width: 80%;
	}

	h1 {
		margin-left: 3%;
	}

	ul li {
		margin: auto;
		width: 85%;
		padding-bottom: 1%;
		font-size: 22px;
	}
	ul li ul {
		padding-top: 2%;
	}

	ul li ul li {
		padding: 1% 0;
	}

	#TamanoImagenes {
		display: flex;            /* Coloca las imágenes en línea */
		justify-content: center;
		gap: 2%;
		margin: auto;
		width: 30%;
		margin-bottom: 2%;
	}

	#TamanoImagenes img {
		width: 250px;
		height: 250px;
		object-fit: cover;
		border-radius: 5px;
	}
}
