header ul li:nth-of-type(5) {
  text-decoration: overline;
}

h1 small {
  color: #e25353;
  font-size: 20px;
}

#wrapper {
  margin: auto;
  width: 89%;
  height: 100%;
  border: 1px solid #e73333;
  background-color: burlywood;
  padding: 20px;
}

.wrapper p {
  padding: 15px;
}

input[name="tab"] {
  position: absolute;
  left: -1000em;
}

#wrapper label {
  display: inline-block;
  width: 40%;
  text-align: center;
  padding: 10px 5px;
  border: 1px solid #cbc6cf;
  border-right: none;
  background-color: #f2f2f2;
  font-weight: bold;
  cursor: pointer;
  box-sizing: border-box;
}

#wrapper label:last-of-type {
  border-right: 1px solid #cbc6cf;
  width: 20%;
}

input:checked + label {
  background-color: #e0e0e0;
  color: #000;
}

.container {
  border: 1px solid #e734b2;
  background-color: bisque;
  padding-top: 1cm;
}

div.cont {
  float: left;
  border: 1px solid #e734b2;
  background-color: bisque;
  opacity: 0; 
  display: none;
  padding-top: 2%;
}

input[value="1"]:checked ~ div.container div.cont:nth-child(1),
input[value="2"]:checked ~ div.container div.cont:nth-child(2),
input[value="3"]:checked ~ div.container div.cont:nth-child(3) {
  opacity: 1;
  display: block;
  animation-name: cambiaTab;
  animation-duration: 1s;
}

@keyframes cambiaTab {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.clearfix {
  clear: both;
}

.otras h3 {
  padding: 30px 0 10px 0;
  margin: 0;
}

.otras p {
  margin: auto;
  width: 90%;
  padding-bottom: 2%;
  font-size: 20px;
  text-align: justify;
}

figure img {
  margin: auto;
  width: 100%;
}

figcaption {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

main p:last-of-type {
  margin: auto;
  width: 90%;
  padding-bottom: 2%;
  font-size: 20px;
  text-align: justify;
}

.Caricaturas img {
  width: calc(100% - 20px);
  padding-left: 2%;
}

.carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  width: 95%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 1.5%;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 200%;
  height: 750px;
}

.carousel-images img {
  width: 90%;
  flex-shrink: 0;
  padding-left: 8%;
}

.carousel button.prev,
.carousel button.next {
  display: none; /* Oculta completamente los botones */
  /* alternativamente, se puede usar visibility: hidden; */
}

/* --- MEDIA QUERIES PARA ESCRITORIO (>950px) --- */
@media (min-width: 950px) {
  * {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 150%;
    box-sizing: border-box;
  }

  h1 {
    font-size: 175%;
    line-height: 80%;
    margin: 25px 0;
  }

  h1 small {
    font-size: 65%;
    color: #e25353;
  }

  #wrapper {
    width: 90%;
    margin: 10px auto;
    padding: 20px;
  }

  #wrapper label {
    width: 15%;
    padding: 10px 25px;
    padding-left: 10px;
    margin: 0.3%;
  }

  p {
    margin: auto;
    width: 85%;
    font-size: 24px;
    margin-top: 1%;
  }

  figure {
    margin: 0 auto;
    width: 80%;
  }

  figure img {
    display: block;
    margin: 0 auto;
    margin-top: 2%;
  }

  figcaption {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  .Caricaturas {
    margin: auto;
    width: 100%;
    display: inline-block;
  }

  .Caricaturas img {
    width: calc(50% - 20px);
  }

  #Imagen1 {
    margin-left: 1.1%;
  }

  #TamanoImagenes {
    margin: auto;
    width: 100%;
  }

  .carousel {
    width: 50%;
  }

  .carousel-images {
    width: 350%;
  }

  .carousel-images img {
    width: 100%;
  }
  .carousel button.prev,
  .carousel button.next {
    display: none; /* Oculta completamente los botones */
    /* alternativamente, se puede usar visibility: hidden; */
  }
}
