
header ul li:nth-of-type(4) {
	text-decoration: overline;
}

main p {
	margin: auto;
	width: 75%;
	padding-bottom: 3%;
	text-align: justify;
	font-size: 18px;
}

iframe {
	margin: auto;
	width: 80%;
	margin-left: 11%;
	margin-bottom: 2%;
}

h1 {
	margin: 0%;
	margin-left: 12%;
}

#Snoopyplaya {
	display: block;
	margin: 0 auto;
	width: 50%;
	padding-bottom: 2%;
	border-radius: 15%;
}

/* MEDIA QUERIES */
@media (min-width: 950px) {
	#PrimerEspacio {
		margin-top: 3%;
	}
	
	main p {
		margin: auto;
		width: 90%;
		padding: 1%;
		font-size: 24px;
	}

	main p:first-of-type {
		margin-top: 2%;
		margin-bottom: 2%;
	}

	iframe {
		display: block;
		margin: 0 auto;
		border: none;
		padding-bottom: 2%;

	}

	iframe {
		width: 850px;
		height: 585px;
	}

	h1 {
		margin: auto;
		width: 90%;
		margin-bottom: 0;
	}

	#SinEspacio {
		margin-top: 0;
		padding-top: 0;
	}

	#Snoopyplaya {
		display: block;
		margin: 0 auto;
		width: 15%;
		padding-bottom: 2%;
		border-radius: 15%;
	}
}
