
header ul li:nth-of-type(1) {
	text-decoration: overline;
}

.contenedor-scroll {
	width: 35%;
	margin-left: 30%;
	overflow: hidden;     /* Oculta el contenido que no cabe */
	white-space: nowrap;  /* Evita que el texto se corte en líneas nuevas */
	box-sizing: border-box;
}

.contenedor-scroll p {
	display: inline-block;        /* Permite que el texto se mueva como un solo bloque */
	padding-left: 100%;           /* Empieza oculto fuera de la pantalla */
	animation: scroll-left 10s linear infinite; /* Anima el texto */
	color: blue;
	font-size: 24px;
}

@keyframes scroll-left {
	0% { transform: translateX(0); }          /* Inicio */
	100% { transform: translateX(-250%); }    /* Fin del movimiento */
}

main p {
	margin: auto;
	width: 75%;
	text-align: justify;
	padding-bottom: 2%;
}

main img:first-of-type {
	margin-bottom: 2%;
}

#Leyenda {
	margin-bottom: 2%;
	font-size: 18px;
	text-align: center;
}

h1 {
	text-align: center;
}

main img {
	display: block;  /* mejor que flex para imágenes */
	margin: auto;
	width: 50%;
}

#ListadoEstrecho li {
	width: 60%;
	margin-top: auto;
	margin-left: 15%;
	padding-bottom: 1.5%;
	text-align: justify;
}

h1:last-of-type {
	font-size:large;
	padding-bottom: 0%;
	margin-bottom: 0%;
	font-size: 20px;
}

#Espacio {
	margin-top: 0;
	padding-top: 0;
}

/* MEDIA QUERIES */
@media (min-width: 950px) {

	#Leyenda {
		font-size: 24px;
		margin-top: 2%;
	}

	.contenedor-scroll {
		width: 35%;
		margin-left: 30%;
		overflow: hidden;     /* Oculta el contenido que no cabe */
		white-space: nowrap;  /* Evita que el texto se corte en líneas nuevas */
		box-sizing: border-box;
	}

	.contenedor-scroll p {
		display: inline-block;        /* Permite que el texto se mueva como un solo bloque */
		padding-left: 100%;           /* Empieza oculto fuera de la pantalla */
		animation: scroll-left 10s linear infinite; /* Anima el texto */
		color: blue;
		font-size: 48px;
	}

	@keyframes scroll-left {
		0% { transform: translateX(0); }          /* Inicio */
		100% { transform: translateX(-200%); }    /* Fin del movimiento */
	}
		
	h1 {
		text-align: center;
		margin: auto;
		width: 100%;
		margin-top: 3%
	}

	#Dormilon {
		display: block;  /* mejor que flex para imágenes */
		margin: auto;
		width: 30%;
		max-width: 20%;
	}

	main p {
		margin: auto;
		width: 70%;
		text-align: justify;
		padding-bottom: 2%;
		font-size: 24px;
	}

	#ListadoEstrecho li {
		margin: auto;
		width: 70%;
		font-size: 24px;
		padding: 1%;
		margin-left: 14%;
	}

	#SinEspacio {
		margin: auto;
		width: 70%;
		font-size: 24px;
		margin-bottom: 0%;
	}

	#Lector {
		display: block;
		margin: auto;
		width: 70%;
		max-width: 15%;
	}

	h1:last-of-type {
		font-size:large;
		padding-bottom: 0%;
		margin-top: 0%;
		margin-bottom: 0%;
		font-size: 24px;
	}
}
